<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="welcome-title">Добро пожаловать!</h1>
        <div class="auth-links">
            <a href="{% url 'reg' %}" class="auth-btn register-btn">Регистрация</a>
            <a href="{% url 'log' %}" class="auth-btn login-btn">Вход</a>
        </div>
    </div>
</body>
</html>