<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="auth-container">
        <div class="auth-card">
            <h2 class="auth-title">Создайте аккаунт</h2>
            <form method="post" class="auth-form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="username" placeholder=" " class="form-input" required>
                    <label class="form-label">Логин</label>
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder=" " class="form-input" required>
                    <label class="form-label">Пароль</label>
                </div>
                <div class="form-group">
                    <input type="password" name="password2" placeholder=" " class="form-input" required>
                    <label class="form-label">Повторите пароль</label>
                </div>
                <button type="submit" class="auth-btn primary-btn">Зарегистрироваться</button>
            </form>
            <div class="auth-footer">
                <span>Уже есть аккаунт?</span>
                <a href="{% url 'log' %}" class="auth-link">Войти</a>
            </div>
        </div>
    </div>
</body>
</html>